body {

	margin: 50px;
	padding: 0;
	line-height: 1.6;
	letter-spacing: 1px;
	font-family: Verdana, Helvetica, sans-serif;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

#header {

	width: 100%;
	height: 50px;
    text-align: center;
	border-bottom: 1px solid #333;

}

#main {

	display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
	text-align: center;

}

#center {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}

#center h1 {

    margin: 0;

}

#top {

	width: 780px;

}

#top p {

	font-weight: bold;

}

#button {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;

}

.submit-button {

    width: 200px;
    height: 50px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    font-size: 16px;

}

#footer {

	width: 100%;
	height: 50px;
    text-align: center;
	border-top: 1px solid #333;

}