		body {
	
			margin: 50px;
			padding: 0;
			line-height: 1.6;
			letter-spacing: 1px;
			font-family: Verdana, Helvetica, sans-serif;
            border: 1px solid #333;
			
		}
		
		table {
			
			text-align: center;
			margin: 0 auto;
			
		}
		
		#top {
		
			width: 780px;
		
		}
		
		#header {
		
			width: 100%;
			height: 50px;
            text-align: center;
			border-bottom: 1px solid #333;
		
		}
		
		#main {
		
			width: 100%;
			text-align: center;
		
		}

		#top p {

			font-weight: bold;

		}

		table tr td {

			padding: 15px 0;

		}

		table tr td:first-child {

			text-align: left;

		}

		table tr td:nth-child(2) {

			text-align: left;

		}

		input[type="text"] {

			border: 2px solid #333;
			height: 20px;
			width: 200px;

		}

		select.wide-field {

			text-align: center;

		}

		input.wide-field,select.wide-field {

			border: 2px solid #333;
			height: 26px;
			width: 80px !important;
			box-sizing: border-box;

		}

		.error-message {

			color: red;

		}

        #footer {
		
			width: 100%;
			height: 50px;
            text-align: center;
			border-top: 1px solid #333;
		
		}
		
		#text-link {
		
			display: inline-block;
			text-align: right;
		
		}

        .submit-button {

            width: 200px;
            height: 40px;
            background-color: #fff;
            color: #333;
            border: 1px solid #333;
            font-size: 14px;

        }